<div class="list">
  <div class="item">
    <a href="nguphap"><img src="/images/grammar.jpg" alt="" /></a>
    <a href="nguphap">
      <h4>Ngữ pháp</h4>
    </a>
  </div>
  <div class="item">
    <a href="tuvung"><img src="/images/vocabulary.png" alt="" /></a>
    <a href="tuvung">
      <h4>Từ vựng</h4>
    </a>
  </div>
</div>
<div class="list">
  <div class="item">
    <a href="tailieu"><img src="/images/tailieu.jpg" alt="" /></a>
    <a href="tailieu">
      <h4>Tài liệu</h4>
    </a>
  </div>
  <div class="item">
    <a href="dethi"><img src="/images/dethi.jpg" alt="" /></a>
    <a href="dethi">
      <h4>Đề thi</h4>
    </a>
  </div>
</div>
<div class="list">
  <div class="item">
    <a href="dongtubatquytac"><img src="/images/dongtu.jpg" alt="" /></a>
    <a href="dongtubatquytac">
      <h4>Động từ bất quy tắc</h4>
    </a>
  </div>
</div>
<script>
  document.getElementById("trangchu").setAttribute("class", "selected");
</script>
