<h3>Ngữ pháp</h3>
<ul>
  <%for (const file of lessons) { %>
  <li>
    <a href="nguphap/<%= file %> "><%= file.substring(0, file.length - 5) %></a>
  </li>
  <% } %>
</ul>

<script>
  document.getElementById("nguphap").setAttribute("class", "selected");
</script>
